fastapi
uvicorn
langchain
langchain-openai
langchain-community
pydantic
faiss-cpu
pypdf
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# filelock # Optional, skipping for now 